
.icon-person:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
