
.footnotes {
  @apply border-gray-700;
  margin: 7rem 0.5rem 0 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-width: 1px 0 0 0;
}

.foot-note {
  @apply italic text-gray-600 font-serif p-2 inline-block m-auto;
  padding: 1.25rem 0.5rem;
}

.foot-note a {
  @apply underline;
}