
.supply {
  @apply w-11/12 text-center m-4 mt-8 mx-auto;
}

.supply tr {
}

.supply tr:nth-child(even) td {
  @apply py-2;
}

.supply tr:nth-child(odd) td {
  @apply py-4;
}

.supply tr td {
  @apply px-4;
}

.footnotes {
  @apply border-gray-700;
  margin: 7rem 0.5rem 0 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-width: 1px 0 0 0;
}

.foot-note {
  @apply italic text-gray-600 font-serif p-2 inline-block m-auto;
  padding: 1.25rem 0.5rem;
}

.foot-note a {
  @apply underline;
}