@import './fontello/css/fontello-embedded';
@tailwind base;
@tailwind utilities;

html, body {
  @apply text-base;
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  text-align: center;
	font-family: sans-serif;
	padding: 0.5rem;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  padding: 0.75rem;
  margin: 2rem 0 2.5rem 0;
}
h3 {
  margin-top: 2rem;
	font-size: 1.3rem;
}
h4 {
	font-size: 1.1rem;
}
h5 {
	font-size: 0.8rem;
}

a[data-navigate] {
  color: rgb(74, 119, 255);
}

.background-btc-orange {
  background-color: theme('colors.btc-orange');
}

.background-money {
  background-color: theme('colors.money');
}

.price-synced-amount {
  @apply text-green-600 px-2;
}

@media (max-width: 390px) {
  html {
    font-size: 13px;
  }
}
