@import './fontello/css/fontello-embedded';
@tailwind base;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, h7, h8 {
  text-align: center;
	font-family: sans-serif;
	padding: 0.5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
  padding: 0.75rem;
}
h3 {
  margin-top: 2rem;
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1rem;
}

.col-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col-33-33-33 {
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.background-btc-orange {
  background-color: theme('colors.btc-orange');
}

.background-money {
  background-color: theme('colors.money');
}
