.comparison {
  @apply mt-8 mx-auto text-sm table-fixed;
}

.comparison tr td {
  @apply text-gray-400;
  padding: 0 0.5rem;
}

.comparison tr td:nth-child(even) {
  @apply text-left;
}

.comparison tr td:nth-child(odd) {
  @apply text-right;
}

.btc-hodl {
  @apply text-center py-2 px-4 bg-blue-100 w-10/12;
  border-radius: 5px;
  background-color: #5d5245;
}

.btc-hodl:focus {
  background-color: #706455;
}

.to-words {
  @apply text-xs text-center italic text-gray-600 mt-2 w-11/12 mx-auto px-4;
  min-height: 2.25rem;
}

@media (min-width: 1280px) {
  .comparison {
    @apply w-8/12;
  }
  .btc-hodl {
    @apply w-8/12;
  }
}