<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BTC Scarcity</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="keywords" content="bitcoin, money, scarcity, personal finance"/>
    <meta name="description" content=""/>
    <meta name="summary" content="stack sats and hodl">
    <meta name="subject" content="bitcoin scarcity">
    <meta name="topic" content="bitcoin scarcity">
    <meta name="Classification" content="finance">
    <meta name="url" content="https://btc.gratis">
    <meta name="identifier-URL" content="https://btc.gratis">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="7 days">
    <meta http-equiv="Expires" content="0">

    <!-- Search Engine -->
    <meta name="description" content="Amuse yourself by comparing your purchasing power and net worth, in Bitcoin terms,  against the wealth of the world.">
    <meta name="image" content="https://btc.gratis/assets/satoshi-coin.jpeg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Bitcoin Scarcity">
    <meta itemprop="description" content="Amuse yourself by comparing your purchasing power and net worth, in Bitcoin terms,  against the wealth of the world.">
    <meta itemprop="image" content="https://btc.gratis/assets/satoshi-coin.jpeg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bitcoin Scarcity">
    <meta name="twitter:description" content="Amuse yourself by comparing your purchasing power and net worth, in Bitcoin terms,  against the wealth of the world.">
    <meta name="twitter:site" content="@bitcoin">
    <meta name="twitter:creator" content="@bitcoin">
    <!-- Twitter - Article -->
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Bitcoin Scarcity">
    <meta name="og:description" content="Amuse yourself by comparing your purchasing power and net worth, in Bitcoin terms,  against the wealth of the world.">
    <meta name="og:image" content="https://btc.gratis/assets/satoshi-coin.jpeg">
    <meta name="og:url" content="https://btc.gratis/">
    <meta name="og:site_name" content="Bitcoin Scarcity">
    <meta name="og:type" content="article">
    <!-- Open Graph - Article -->
    <meta name="article:section" content="Finance">
    <meta name="article:published_time" content="2019-12-14T00:00:00+00:00">
    <meta name="article:author" content="Satoshi Nakamoto">
    <meta name="article:tag" content="Bitcoin, Money, Gold, Satoshis, Scarcity, Calculator">
    <meta name="article:expiration_time" content="2019-12-14T00:00:00+00:00">
    <meta name="article:modified_time" content="2019-12-14T00:00:00+00:00">

		<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
		<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
			<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
		<% for (var chunk of webpack.chunks) { %>
		 <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
			<% for (var file of chunk.files) { %>
				<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
					<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
				<% } else if (file.match(/manifest\.json$/)) { %>
					<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
				<% } %>
			<% } %>
		<% } %>
		<link rel="shortcut icon" type="image/png" href="https://github.com/bitcoin/bitcoin/blob/976cc766c42889b6d1042e4cda39045d5001f406/src/qt/res/icons/bitcoin.ico"/>
	</head>
	<body>
		<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
	</body>
</html>
