
.svg-pyramid {
  padding: 0 5px;
}

.svg-pyramid polygon {
  border: 0;
}

.svg-pyramid text {
  font-size: 3px;
  fill: white;
}

.svg-pyramid text.adults {
  fill: rgb(190, 190, 190);
}

.svg-pyramid text.percentage {
  fill: rgb(224, 224, 224);
}

.svg-pyramid text a,
.svg-pyramid text a:visited {
  fill: #f79319;
}
